body {
    background-color: #f5f5f5;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}


header {
    background-color: #fe7343;
    margin: auto;
    height: 60px;
    position: relative;
    width: 100%;
}

.header-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
}


.logo-section {
    display: flex;
    align-items: center;
    gap: 0px;
}

.logofoto {
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    left: 90px;


}
.icone {
    position: absolute;
    height: 25px;
    align-items: center;
    left: 740px;
    display: flex;

}
.carro {
    position: absolute;
    height: 30px;
    align-items: center;
    left: 900px;
    display: flex
}

.logo {
    position: absolute;
    color: #020202;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    top: 6px;
    left: 200px;
}

.sublogo {
    position: absolute;
    color: #020202;
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    top: 35px;
    display: flex;
    left: 200px;
}
.entre{
    position: absolute;
    color: #020202;
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    top: 20px;
    display: flex;
    left: 795px;
}

.search-bar {
    top: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-grow: 1;
    padding-left: 0px; 
    padding-right: 260px; 
}

.search-bar form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px; 
}

.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #020202;
    font-size: 14px;
}

.search-bar button {
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #020202;
    background-color: #d9d9d9;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #fe7343;
    color: #fff;
}
.retangulo{
    position: absolute;
    display: flex;
    background-color: #020202;
    top: 60px;
    margin: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    align-items: center;
}
.menuu{
    position: absolute;
    display: flex;
    color: #f5f5f5;
    top: 0px ;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    height: 30px;
    left: 320px;
}
.lancamentoss{
    position: absolute;
    display: flex;
    color: #f5f5f5;
    top: 0px ;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    height: 30px;
    left: 420px;
}
.wheyy{
    position: absolute;
    display: flex;
    color: #f5f5f5;
    top: 0px ;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    height: 30px;
    left: 570px;
}
.creatinaa{
    position: absolute;
    display: flex;
    color: #f5f5f5;
    top: 0px ;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    height: 30px;
    left: 660px;
}
.treino{
    position: absolute;
    display: flex;
    color: #f5f5f5;
    top: 0px ;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    height: 30px;
    left: 770px;
}
.roupaa{
    position: absolute;
    display: flex;
    color: #f5f5f5;
    top: 0px ;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    height: 30px;
    left: 890px;
}
.ramon{
    position: absolute;
    display: flex;
    margin: 0;
    top: 90px;
    width: 1312px;
    padding: 0;

}
.ramonand{
    position: absolute;
    display: flex;
    margin: 0;
    top: 0px;
    padding: 0;
    left: 0px;
    right: 0px;
    width: 50%;
    height: 330px;
    object-fit: cover;

}
.cbumand{
    position: absolute;
    display: flex;
    margin: 0;
    top: 0px;
    padding: 0;
    right: 0px;
    width: 50%;
    height: 330px;
    object-fit: cover;

}

.circle {
    width: 70px;
    height: 70px;
    background-color: #fe7343;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    top: 510px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.energia{
    width: 90px;
    height: 90px;
    background-color: #fe7343;
    border-radius: 50%;
    position: absolute;
    right: 450px;
    top: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emagrecimento {
    width: 90px;
    height: 90px;
    background-color: #fe7343;
    border-radius: 50%;
    position: absolute;
    right: 650px;
    top: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.massa {
    width: 90px;
    height: 90px;
    background-color: #fe7343;
    border-radius: 50%;
    position: absolute;
    right: 850px;
    top: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.energia,
.emagrecimento,
.massa {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os itens no início da bolinha */
    z-index: 1;
    object-fit: contain; /* Ajusta a imagem para caber dentro do contêiner */

}



.circle img,
.energia img,
.emagrecimento img,
.massa img {
    max-width: 100%;
    max-height: 100%;
}
#lgmusculo{
    position: absolute;
    right: 470px;
    top: 560px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#lgenergia{
    position: absolute;
    right: 870px;
    top: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#lgemagrecimento{
    position: absolute;
    right: 635px;
    top: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#pergunta{
    position: absolute;
    right: 580px;
    top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}
.raio{
    width: 70px;
}